<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://mooozi.github.io/lectures/css/reset.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index"><h1 class="display-1">Ruby Instrument</h1></a>
        @if (@ViewData["Title"].ToString() != "회원가입" && @ViewData["Title"].ToString() != "로그인")
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item align-self-center">
                                <a class="nav-link text-dark" asp-controller="Goods" asp-action="WindList" asp-route-id="Wind">관악기</a>
                                <ul class="hidden-menu">
                                    <li><a class="nav-link text-dark" asp-controller="Goods" asp-action="WindList" asp-route-id="Flute">플루트</a></li>
                                    <li><a class="nav-link text-dark" asp-controller="Goods" asp-action="WindList" asp-route-id="Clarinet">클라리넷</a></li>
                                </ul>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goods" asp-action="StringList">현악기</a>
                                <ul class="hidden-menu">
                                    <li><p>바이올린</p></li>
                                    <li><p>비올라</p></li>
                                    <li><p>첼로</p></li>
                                    <li><p>기타</p></li>
                                </ul>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goods" asp-action="PianoList">피아노</a>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goods" asp-action="PartList">부속품</a>
                                <ul class="hidden-menu">
                                    <li><p>현</p></li>
                                    <li><p>활</p></li>
                                    <li><p>헤드코르크</p></li>
                                </ul>
                            </li>
                            <li class="nav-item align-self-center">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Goods" asp-action="EctList">기타 용품</a>
                                <ul class="hidden-menu">
                                    <li><p>악기케이스</p></li>
                                    <li><p>송진</p></li>
                                    <li><p>침수건</p></li>
                                    <li><p>소지봉</p></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav pull-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <p>@User.Identity.Name 님 환영합니다!</p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">주문 조회</a>
                                </li>
                                <li class="nav-item text-black-50">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">로그아웃</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">로그인</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Join">회원가입</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        }

    </header>
    <div class="container">
        <main role="main" class="text-center">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mr-3">
        <div class="container">
            <h1>RubyInstrument</h1>
            <a asp-area="" asp-controller="Home" asp-action="Index">hiper20@naver.com</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/imgSlide.js"></script>
    <script src="~/js/dropdown.js"></script>

</body>
</html>
